<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<!-- jQuery library -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<!-- Latest compiled JavaScript -->
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="../static/style.css">
		<title>Read Company</title>
	</head>
    <body>
		<div class="container-fluid">
			<div class="row">
				<div class="col-sm-2" id="menu">
					<h3>Companies</h3>
					<div class="list-group" id="companies">
						{% for c in companies %}
							<a href="{{url_for('view_company_consoles', gamecompany_id = c.id)}}" class="list-group-item">{{c.name}}</a>
						{% endfor %}
					</div>
					{% if 'name' in session %}
						<h3>Action</h3>
						<div class="list-group" id="action-items-categories">
							<a href="{{url_for('add_gamecompany')}}" class="list-group-item">Add Company</a>
							<a href="{{url_for('companys_delete')}}" class="list-group-item">Delete Company</a>
						</div>
					{% endif %}
					</div>
				<div class="col-sm-10" id="content">
					<div class="page-header"><h1>Game Consoles</h1></div>
					<div id="login-info">
						<i>Welcome, {{user_name}}</i>
						{% if 'name' in session %}
							<a href="{{url_for('logout')}}"><button type="button" class="btn btn-sm">Logout</button></a>
						{% else %}
							<a href="{{url_for('login')}}"><button type="button" class="btn btn-sm">Login</button></a>
						{% endif %}
					</div>
					<div id="{{gamecompany.name}}">
						<h3>{{gamecompany.name}}</h3>
						{% if 'name' in session %}
							<div class="btn-group">
						  	<a href="{{url_for('add_gameconsole', gamecompany_id = gamecompany.id)}}"><button type="button" class="btn btn-sm btn-info">Add</button></a>
							</div>
						{% endif %}
						<div id="complete_consoles" class="table-responsive">
							<table class="table table-striped">
								<thead>
									<tr><th>Game Console Name</th><th>Description</th><th>Price</th></tr>
								</thead>
								<tbody>
									{% for g in gameconsoles %}
										<tr><td>{{g.name}}</td><td>{{g.description}}</td><td>{{g.price}}</td>
												{% if g.user_id == session['id'] %}
													<td><a href="{{url_for('edit_gameconsole', gameconsole_id = g.id, gamecompany_id = gamecompany.id)}}"><button type="button" class="btn btn-warning">Edit</button></a>
															<a href="{{url_for('delete_gameconsole', gameconsole_id = g.id, gamecompany_id = gamecompany.id)}}"><button type="button" class="btn btn-danger">Delete</button></a></td>
												{% else %}
													<td></td>
												{% endif %}
										</tr>
									{% endfor %}
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>